:root {
  --bg-color: #f6f6ef;
  --text-color: #000;
  --muted-color: rgba(0, 0, 0, 0.5);
  --highlight-color: #a28ad2;
  --navbar-selected-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222;
    --text-color: #ccc;
    --muted-color: #aaa;
    --highlight-color: #457b9d;
    --navbar-selected-color: #222;
  }
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

pre {
  overflow-x: auto;
}

table td,
table td * {
  vertical-align: top;
}

a {
  color: var(--highlight-color);
}

a:not(.navbar-link):not(.client-link):visited {
  color: var(--muted-color);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a.client-link {
  color: inherit;
  text-decoration: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow-y: auto;
  border-bottom: 1px solid var(--muted-color);
}

.footer {
  padding: 30px;
  text-align: center;
}

.article {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.article-index {
  width: 30px;
  text-align: right;
  margin-right: 10px;
  flex-shrink: 0;
}

.article-title {
  text-decoration: none;
  color: var(--text-color);
}

.article-title:hover,
.article-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.article-text {
  margin-top: 10px;
}

.meta-text {
  font-size: 0.8em;
  color: var(--muted-color);
}

.host {
  display: inline-block;
}

.submitted {
  margin-top: 20px;
}

.submitted-item {
  margin-bottom: 10px;
}

.paging-controls {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}

.paging-controls .active {
  text-decoration: underline;
}

.comments,
.submitted-content {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--muted-color);
  padding: 10px;
  flex-shrink: 0;
}

.comment:not(:first-child) {
  margin-top: 10px;
}

.comment-child {
  margin-left: 40px;
}

.comment-info {
  color: var(--muted-color);
  margin-bottom: 10px;
}

.comment-expand {
  color: var(--muted-color);
  cursor: pointer;
}

.comment-expand:hover {
  text-decoration: underline;
}

.comment-text,
.comment-expand {
  padding-left: 20px;
}

.navbar {
  background-color: var(--highlight-color);
  padding: 6px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.navbar a {
  cursor: pointer;
  text-decoration: none;
  margin: 0px 5px;
}

.navbar a.active {
  color: var(--navbar-selected-color);
}

.navbar .logo {
  font-weight: bold;
}

.navbar-links {
  flex: 1;
}

.navbar-link img {
  height: 15px;
  width: 15px;
}

.loader-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--highlight-color);
  border-color: var(--highlight-color) transparent var(--highlight-color)
    transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
