html,
body {
  box-sizing: border-box;
  margin: 0;
  background-color: #f6f6ef;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

table td,
table td * {
  vertical-align: top;
  font-size: 12px;
}

a:not(.navbar-link):visited {
  color: #a28ad2 !important;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
  Main app container
 */
.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow-y: auto;
}

.article {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.article-info {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.7);
}

.article-index {
  width: 30px;
  text-align: right;
  margin-right: 10px;
  flex-shrink: 0;
}

.article-title {
  text-decoration: none;
  color: black;
}

.article-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.article-text {
  margin-top: 10px;
  font-size: 12px;
}

.comments {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
  padding: 10px;
  flex-shrink: 0;
}

.comment {
  font-size: 12px;
}

.comment:not(:first-child) {
  margin-top: 10px;
}

.comment-child {
  margin-left: 40px;
}

.comment-info {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.comment-expand {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.comment-expand:hover {
  text-decoration: underline;
}

.comment-text,
.comment-expand {
  padding-left: 20px;
}

/*
  Navigation
*/
.navbar {
  background-color: #a28ad2;
  padding: 4px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.navbar a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  margin: 0px 5px;
}

.navbar a.active {
  color: white;
}

.navbar .logo {
  font-weight: bold;
}

.navbar-links {
  flex: 1;
}
