html,
body {
  box-sizing: border-box;
  margin: 0;
  background-color: #f6f6ef;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

table td,
table td * {
  vertical-align: top;
  font-size: 12px;
}

a:not(.navbar-link):visited {
  color: #a28ad2 !important;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
  Main app container
 */
.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow-y: auto;
}

.article {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.article-info {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.7);
}

.article-index {
  width: 30px;
  text-align: right;
  margin-right: 10px;
  flex-shrink: 0;
}

.article-title {
  text-decoration: none;
  color: black;
}

.article-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.article-text {
  margin-top: 10px;
  font-size: 12px;
}

.comments {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
  padding: 10px;
  flex-shrink: 0;
}

.comment {
  font-size: 12px;
}

.comment:not(:first-child) {
  margin-top: 10px;
}

.comment-child {
  margin-left: 40px;
}

.comment-info {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.comment-expand {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.comment-expand:hover {
  text-decoration: underline;
}

.comment-text,
.comment-expand {
  padding-left: 20px;
}

/*
  Navigation
*/
.navbar {
  background-color: #a28ad2;
  padding: 4px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.navbar a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  margin: 0px 5px;
}

.navbar a.active {
  color: white;
}

.navbar .logo {
  font-weight: bold;
}

.navbar-links {
  flex: 1;
}

/**
 * https://projects.lukehaas.me/css-loaders/
 */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #a28ad2;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #f6f6ef;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #f6f6ef;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
