html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root,
.container {
  height: 100%;
  margin: 0;
}

a:visited {
  color: #a28ad2 !important;
}

/*
  Main app container
 */
.container {
  padding: 20px;
  padding-top: 0px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #f6f6ef;
  overflow-y: auto;
}

.article {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.article-info {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.7);
}

.article-title {
  text-decoration: none;
  color: black;
}

.article-comments:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
  Navigation
*/
.navbar {
  background-color: #a28ad2;
  padding: 4px;
  display: flex;
  flex-direction: row;
}

.navbar a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  margin: 0px 5px;
}

.navbar a.active {
  color: white;
}

.navbar .logo {
  font-weight: bold;
}
